apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  namespace: prod
spec:
  replicas: 4
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
      - name: app
        image: hashicorp/http-echo
        args:
        - "-text=Payment v1"
        ports:
        - containerPort: 5678
